.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100%;
}

.messagesOuterContainer {
  background-color: #343642;
  height: 100vh;
  overflow-y: hidden;
}

#bottomBarTop {
  display: flex;
  justify-content: center;
  width: 100%;
}

#bottomBarBottom {
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  line-height: 16px;
  font-size: 12px;
  padding-bottom: 24px;
  padding-top: 12px;
}
#bottomBar {
  display: grid;
  grid-template-rows: max-content max-content;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 250px);
  background: linear-gradient(
    0deg,
    rgba(52, 54, 66, 1) 44%,
    rgba(52, 54, 66, 0) 100%
  );
}

#bottomDiv {
  background-color: #343642;
  height: 200px;
}

#regenerateBtn {
  border-radius: 0.425rem;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  background-color: #343541;
  color: white;
  border: 1px solid #565869;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}
#regenerateButton:hover {
  background-color: #40414f;
}

#stopReceivingButton {
  border-radius: 0.425rem;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  background-color: #343541;
  color: white;
  border: 1px solid #565869;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

#stopReceivingButton:hover {
  background-color: #40414f;
}

#input {
  border: rgba(32, 33, 35, 0.5) 1px solid;
  border-radius: 6px;
  background-color: #40414f;
  padding: 12px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.11);
  width: min(95%, 768px);
  box-sizing: border-box;
  margin-right: 10px;
}

#inputTextArea {
  background-color: transparent;
  border: 0;
  width: 100%;
  color: white;
  height: auto;
  min-height: 24px; /* Minimum height of the textarea */
  max-height: 200px; /* Maximum height of the textarea */
  overflow-y: auto;
  resize: none;
  outline: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

#inputForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottomCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#sendButton {
  color: rgb(142, 142, 160);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 786px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 40px 1fr;
  }
  #bottomBar {
    width: 100%;
  }
  #bottom-div {
    height: 600px;
  }
}
