#MainHeader {
  color: rgb(236, 236, 241);
  text-align: center;
  font-weight: 600;
  font-size: 36;
  margin-top: 25px;
  margin-bottom: 25px;
}

.SubHeader {
  text-align: center;
  color: rgb(236, 236, 241);
  font-weight: 400;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

#container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content min-content 2fr;
  justify-items: center;
  align-content: baseline;
  overflow-y: scroll;
}

#bottomDiv {
  background-color: #343642;
  height: 200px;
}

#centerDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 768px;
  gap: 14px;
}

.descTile {
  color: rgb(236, 236, 241);
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 14px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
}

button.descTile:hover {
  background-color: rgb(32, 33, 35);
}

.tileList {
  row-gap: 14px;
  column-gap: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
}
@media screen and (max-width: 786px) {
  #centerDiv {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
